{% extends "layout.twig" %}

{% block content %}


<header class="bk-header">
   <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
            {{widget('extendednavigation', 'navigationheader', {})|raw}}

         <div class="header-bottom-line"></div>   
    </div>

</header>

<section>
  {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"MAURIS ERAT","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
</section>

<div class="main wrapper clearfix">
  {{zone('main')|raw}}
</div>  

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-three-33-34-33">
           <div class="column columns-three-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h4>Lorem Ipsum Dolor</h4>"})|raw}}
                {{widget('profile', 'footercolumn2profileaddress', { 'profileType':'address', 'address':'profile'})|raw}}
           </div>
           <div class="column columns-three-middle">
                {{widget('content', 'footercolumn2content1', {"content":"<h4>Vivamus Tempus</h4>"})|raw}}
                {{widget('profile', 'footercolumn2profilephone', { 'profileType':'phone', 'phone':'profile'})|raw}}
           </div>
           <div class="column columns-three-right">
                {{widget('content', 'footercolumn3content1', {"content":"<h4>Lorem Ipsum Dolor</h4>"})|raw}}
                {{widget('profile', 'footercolumn3socialicons', { 'profileType' : 'socialicons' })|raw}}
           </div>
        </div>
    </div>
</footer>


{% endblock %}